<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General</title>
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/theory.css">
    <link rel="shortcut icon" href="../static/somaiya-logo.png" type="image/x-icon">

</head>
<body>

    <!-- nav  -->
    <div class="nav">

        <div id="logo">
            <img src="../static/somaiya-logo.png" >
        </div>

        <div class="item">

            <a href="/welcome" class="navitem">Student</a>
            <a href="/theory" class="navitem">Theory</a>
            <a href="/practical" class="navitem">Practical</a>
            <a href="/general" class="navitem">General</a>
        </div>

        <button class="btn">
            <a href="/">

                <i class="fa fa-sign-out"></i>
            </a>
        </button>
    </div>

    
    <div class="menubar">
     <h3 style="font-family: bold" >Click on the buttons for subject-wise attendance (General) </h3 > 
    </div>

        <div class="attendance">
            <div>
                <button class="button button2">AME-II</button>
                <button class="button button2">OS</button>
                <button class="button button2">DBMS</button>
               
                
                
                
            </div>
            <div>
                <button class="button button2">AOA</button>
                <button class="button button2">MP</button>
               
                
            </div>
           
        </div>
       



    <!-- footer -->
    <div class="footer-clean">
      <footer>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Developed by : </h3>
                      <ul>
                          <li><a href="https://pruthvirajp04.github.io" target="_blank">Pruthviraj Patil</a></li>
                          <li><a href="#">Satyam Singh</a></li>
                          <li><a href="#">Prajyot Shende</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Guided By :</h3>
                      <ul>
                          <li><a href="#">Prof Chitra</a></li>
                          
                      </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Somaiya</h3>
                      <ul>
                        <li><a href="#">College Website</a></li>
                        <li><a href="#">Somaiya Vidyavihar</a></li>
                          <!-- <li><a href="#">Benefits</a></li> -->
                      </ul>
                  </div>
                  <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                      <p class="copyright">KJSIEIT</p>
                  </div>
              </div>
          </div>
      </footer>
  </div>

  <script src="JQuery/JQuery.js" type="text/javascript"></script>
  <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://kit.fontawesome.com/e17fe426b1.js" crossorigin="anonymous"></script>
</body>
</html>